html,
body {
  width: 100vw;
  overflow-x:hidden;
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, :before, :after {
  box-sizing: border-box;
}

.header{
  color: white;
  background-color: #171321;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header:after{
  bottom: 0;
  content: "";
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
  background: linear-gradient(2deg,rgb(230, 102, 102),#ffe742 50%, rgb(46, 175, 218));
}

.header>.top-header{
  width:100%;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.header>.top-header>.logo{
  margin-left:15px;
  height: 100%; 
  width:90px;
  display: flex;
  align-content: center;
  align-self: flex-start;
}

.header>.top-header>.logo>p>img{
  width: 80px;
  height: 40px;
  transform: rotate(-5deg);
}


.header>.top-header>.site-title {
  display: flex;
  align-items: center;
  flex:1;
  margin-right: 100px;
}

.header>.top-header>.site-title>.title{
  font-size: x-large;
  letter-spacing: .3rem;
  font-weight: 300;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  flex:1;
}

.header>nav{
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  border-top: 1px solid whitesmoke;
  margin-bottom: 5px;;
}

.header>nav>ul{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style: none;
}
.header>nav>ul>li>a{
  padding: 0 15px;
  color:whitesmoke;
  font-weight: 300;
  font-size: 18px;
}

.header>nav>ul>li>a:hover{
  color: khaki;
}

.container {  
  width: 100%;
  max-width:100%;
  margin:0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;  
  border: 1px solid rosybrown;
  min-height: calc(100vh - 240px);
}
.container>.sub-menu{
  width:100%;
  max-width:100%;
  height: 40px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex:1; 
  background-color: white;
  border-bottom: 2px solid whitesmoke;
  color: darkslategrey;
}

.container>.sub-menu ul{
  margin:0;
}

.container>.sub-menu>.left-menu{
  height: 100%;
  flex:2;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container>.sub-menu>.left-menu>nav{
  display:flex;
  flex:1;
  justify-content: center;
}
.container>.sub-menu>.left-menu>nav>ul{
  display:flex;
  flex:1;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}
.container>.sub-menu>.left-menu>nav>ul>li>a{
  color: darkkhaki;
  font-weight: 500;
  font-size: 17px;
}
.container>.sub-menu>.left-menu>nav>ul>li>a:hover{
  color: rgb(230, 102, 102);
}
.container>.sub-menu>.center-menu{
  height: 100%;
  flex:1;
  display: flex;
  justify-content: center;
}

.container>.sub-menu>.center-menu button{
  background-color: white;
  color: darkkhaki;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:0;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.container>.sub-menu>.right-menu{
  height: 100%;
  flex:2;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
}
.container>.sub-menu>.right-menu button{  
  background-color: rgb(245, 99, 99);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
}

.container>main.imgid>p {max-width:90%;text-align: center;}
.container>main.imgid {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
} 
.container>main {  
  min-height: 415px;
  width: 100%;
  max-width:100%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container>main.home>.cards-wrapper>.card{
  max-width: 300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.container>main.home>.cards-wrapper>.card p{
  text-align: center;
}
.container>main.home>.cards-wrapper>.card>.card-header{
  flex:1;
}
.container>main.home>.cards-wrapper>.card>.card-image{
  flex: 1;
}
.container>main.home>.cards-wrapper>.card>.card-image>p{
  width: 100%;
  height: auto;
}
.container>main.home>.cards-wrapper>.card>.card-image>p>img{
  width:100%;
}
.container>main.home>.cards-wrapper>.card>.card-footer{
  flex:1;
  padding: 5px;
}
.container>main.search,
.container>main.home{
  flex-direction: column;
}
.container>main>.page-title{
  display:flex;
}

.container>main>.page-title>img{
  margin: 10px 10px 0 0 ;
}

.container>main>.page-title>h1{
  font-size: 20px;
  font-weight: 500;
  color:slategray
}

.container>main>.cards-wrapper{
  padding: 5px;    
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.container>main>.cards-wrapper>.card {
  min-height:80px;
  flex:1;
  flex-basis: 220px;
  max-width: 220px;
  margin: 20px 10px;
  padding: 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-top: 3px solid darkkhaki;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container>main>.cards-wrapper>.card:hover,
.container>main>.cards-wrapper>.card:focus,
.container>main>.cards-wrapper>.card:active {
  color: darkkhaki;
  border-top: 1px solid darkgray;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: pointer;
  font-weight: 500;
}
.container>main>.listnsn{
  width: 90%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.container>main>.listnsn>p{
  text-align: center;
}
.container>main>.listnsn>form {
  margin: 0 auto;
  flex:1;
  justify-self: center;
  overflow-x: auto;
  width: 90%;
  max-width: 1320px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
main table{
  margin-top: 10px;
  width: 100%;
  border: 1px solid whitesmoke;
  overflow-x: auto;
}
main table thead>tr{
  background-color: gray;
}
main table tr>td {
  font-weight: 400;
}

main table thead>tr>th {
  font-weight: 600;
  color: khaki
}
main table tr:nth-child(even) {
  background-color: #eee;
}

.container>main>.listnsn>form>table {
  width: 90%;
  border: 1px solid whitesmoke;
  overflow-x: scroll;
}
.container>main>.listnsn>form>table thead>tr {
  background-color: gray;
  
}
.container>main>.listnsn>form>table thead>tr>th {
    font-weight: 600;
    color: khaki
}
.container>main>.listnsn>form>table tr>td {
  font-weight: 400;
  text-align: center;
}
.container>main>.listnsn>form>table tr:nth-child(even) {
  background-color: #eee;
}
main.aithsh>.print>.print-title{
    text-align: center;
}

main.aithsh table>tfoot>tr>td{
  padding-top:15px;
  text-align: center;
  vertical-align: text-top;
}
main.aithsh table>tfoot>tr{
  height: 100px;
}
main.aithsh table {
  font-weight: 300;
  width: 100%;
  max-width: 1100px;
}
main.aithsh table.t1 tr>td {
  border:none;
  height: 20px;
}
main.aithsh table.t1 {
  border: 1px solid lightgray;
  border-bottom: none;
  margin-bottom:-10px;
}
main.aithsh table.t2 {
  border: 1px solid lightgray;
}

main.aithsh table tr>td,
main.aithsh table tr>th{
  background-color: #fff;
  color: #000;
  font-size: small;
  text-align: center;
  border: 1px solid lightgray;
  border-left: none;
  border-top: none;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
}

footer {
  color: white;
  background-color: #171321;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}

footer:after{
  top: 1px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  background: linear-gradient(2deg,rgb(230, 102, 102),#ffe742 50%, rgb(46, 175, 218));
}


@media (max-width: 800px) {
  .no-mobile {
    display:none;
  }

  .header>.top-header>.site-title>.title{
    font-size: x-large;
    letter-spacing: .1rem;
  }

  .container>main.imgid>p>img {
    width: 400px;
    height: auto;
  }

}

@media print  {
  .no-print, header, .sub-menu, footer  {
    display:none !important;
  }
  @page {
    size: A4 landscape;
    margin: 20px auto;
  }
  .print{
    border:none !important;
  }
}
